<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pokemon 田野調查任務獎勵列表
    //- script(src="js.js")
    link(rel="stylesheet", href="style.css")
  body
    include pm-cp-info.pug
    include data.pug
    include data-handle.pug

    nav.nav
      each i in ['對戰', '捕捉', '養成', '擲球', '其他']
        a(href=`#${i}-1`)= i

    main.main
      each row in _data
        - var id = `${row[0]}-${row.counter}`;
        .item(id=id)
          a.anchor(href=`#${id}`)= `${row[0]} ${row.counter}`
          .task= row[1]
          .rewords
            each reword in row[2]
              span.reword(data-pms=(reword.startsWith('<') ? '1': '')) !{reword}

    footer
      ul
        li 更新資料請至#[br]#[a(href="https://docs.google.com/forms/d/e/1FAIpQLScOQiVA-Lj9EYZpjMYqXahiW6-szjaY33x7Mp0NxG8-XQrVpQ/viewform") Google 表單： Pokemon 田野調查任務獎勵]
        li #[a(href="https://docs.google.com/spreadsheets/d/1aXcSyHWq9RdHB9ksw3XRMWYrP3FUV4a6BOk3xVOnGWg/") 資料列表 @ Google Doc]
        li #[a(href="https://www.ptt.cc/bbs/PokemonGO/M.1522472393.A.35E.html") PTT 資料來源]
        li ref: #[a(href="https://pokemongo.gamepress.gg/research-tasks-list") Research Tasks List @ gamepress]
